@import 'syndesis-sass';

.integration-detail {
  &__info {
    flex-shrink: 0;
  }

  &__outlet {
    background: white;
    padding: $gutter;
  }

  ::ng-deep syndesis-editable .fa {
    font-size: 14px;
  }

  .syn-tabs {
    margin: 0;
    padding-left: 0;
  }
}
