@import 'syndesis-sass';

:host {
  .syn-connection-detail-info {
    &__header,
    &__description {
      margin-bottom: $gutter;
    }

    &__image {
      width: 46px;
      margin-right: $gutter;
    }
  }
}
